$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1500px);

// Fonts
$font: "Arimo", sans-serif;
$font-mobile: "Arimo", -apple-system, system-ui, sans-serif;

// Colors
$blue: #006EF5;

$red: #EB4242;

$green: #12BA55;

$black: #404040;
$black1: #202020;
$black2: #070707;

$gray: #505050;
$gray1: #A8A8A8;
$gray2: #707070;
$gray3: #777777;
$gray4: #F5F5F5;
$gray5: #EEEEEE;