.footer {
  background: $black2;
  padding: 60px 0;
  @include media-down(sm) {
    padding: 30px 0;
  }

  &__top {
    margin-bottom: 60px;
    @include media-up(sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 80px;
    }
  }

  &__left {
    max-width: 290px;
    @include media-down(md) {
      max-width: 220px;
    }
    @include media-down(sm) {
      margin-bottom: 60px;
    }
    @include media-down(xs) {
      max-width: 100%;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 40px;
    svg path {fill: #fff;}
    @include media-down(sm) {
      margin-bottom: 30px;
    }
  }

  &__about {
    color: $gray1;
    font-size: 13px;
    line-height: 160%;
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    margin-right: 65px;
    @include media-down(md) {
      margin-right: 0;
    }
    @include media-down(sm) {
      order: 1;
      width: 100%;
    }
    @include media-down(xs) {
      order: 0;
      margin-bottom: 80px;
    }
  }

  &__nav {
    margin-right: 100px;
    @include media-down(md) {
      margin-right: 80px;
    }
    @include media-down(sm) {
      margin-right: 0;
    }
    li {
      &:not(:last-child){
        margin-bottom: 23px;
      }
    }
    a {
      font-size: 20px;
      line-height: 23px;
      color: $gray6;
      &:hover {
        color: #ffffff;
      }
      @include media-down(sm) {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }

  &__apps {
    a {
      display: block;
      &:not(:last-child){
        margin-bottom: 20px;
      }
      img {
        width: 140px;
      }
    }
  }

  &__contacts {
    a {
      display: flex;
      align-items: center;
      color: $gray6;
      font-size: 18px;
      line-height: 21x;
      &:not(:last-child){
        margin-bottom: 20px;
      }
      svg {
        width: 18px;
        height: 18px;
        margin-right: 10px;
        order: -1;
        path {
          stroke: $gray6;
        }
        @include media-down(xs) {
          margin-right: 10px;
        }
      }
      &:hover {
        color: #fff;
        svg path {
          stroke: #fff;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include media-only(sm) {
      justify-content: center;
    }
  }

  &__dop-links {    
    @include media-down(md) {
      width: 300px;
    }
    @include media-down(sm) {
      order: 1;
      width: 100%;
      margin-top: 30px;
      text-align: center;
    }
    @include media-down(xs) {
      text-align: left;
    }
    a {
      display: inline-block;
      color: $gray1;
      font-size: 15px;
      line-height: 160%;
      &:hover {
        color: #ffffff;
      }
      &:not(:last-child){
        margin-right: 20px;
      }
      @include media-down(sm) {
        font-size: 13px;
        line-height: 15px;
      }
    }
  }

  &__payments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-down(xs) {
      width: 100%;
    }
    img {
      &:not(:last-child){
        margin-right: 30px;
        @include media-down(xs) {
          margin-right: 0;
        }
      }
    }
  }
}