.text-center {
	text-align: center;
}

.hero-block {
	padding: 40px 0 30px;

	@include media-up(md) {
		padding: 60px 0 30px;
	}

	@include media-up(lg) {
		padding: 80px 0 40px;
	}

	h1 {
		margin-bottom: 30px;

		@include media-up(lg) {
			margin-bottom: 40px;
		}
	}

	p {
		font-size: 16px;
		margin: 0;
		color: $gray2;

		@include media-up(lg) {
			font-size: 24px;
		}
	}

	&--tarrifs {
		padding: 40px 0 140px;

		@include media-up(lg) {
			padding: 80px 0 160px;
		}

		h1 {
			@include media-up(lg) {
				font-size: 40px;
			}
		}

		img {
			width: 144px;
			margin-bottom: 20px;

			@include media-up(lg) {
				width: 240px;
			}
		}
	}
}