.text-center {
	text-align: center;
}

.hero-block {
	padding: 80px 0 160px;

	img {
		width: 240px;
		margin-bottom: 20px;
	}

	h1 {
		margin-bottom: 40px;
	}

	p {
		font-size: 24px;
		color: $gray2;
	}
}